<form
  class="card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Войти в систему</span>
    <div class="input-field">
      <input
        formControlName="login"
        id="login"
        type="text"
        [ngClass]="{'invalid': form.get('login').invalid && form.get('login').touched}"
      >
      <label for="login">Логин:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('login').invalid && form.get('login').touched"
      >
               <span *ngIf="form.get('login').errors['required']">Логин не должен быть пустым</span>
                <span
                  *ngIf="form.get('login').errors['minlength'] && form.get('login').errors['minlength']['requiredLength']">Логин не должен быть меньше {{form.get('login').errors['minlength']['requiredLength']}}
                  символов.</span>
            </span>
    </div>
    <div class="input-field">
      <input
        formControlName="password"
        id="password"
        type="password"
        [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}"
      >
      <label for="password">Пароль:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('password').invalid && form.get('password').touched"
      >
                <span *ngIf="form.get('password').errors['required']">Пароль не должен быть пустым</span>
                <span
                  *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
                    Пароль должен быть больше {{form.get('password').errors['minlength']['requiredLength']}}
                    символов. Сейчас {{form.get('password').errors['minlength']['actualLength']}}.
                </span>
            </span>
    </div>
  </div>
  <div class="card-action">
    <button
      type="submit"
      class="modal-action btn waves-effect"
      [disabled]="form.invalid || form.disabled"
    >
      Войти
    </button>
  </div>
</form>

