<div class="modal" #modal>
  <div class="modal-content">
    <h4>Modal Header</h4>
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <button (click)="close()" class="btn">Ok</button>
  </div>
</div>
