<div class="row">
  <div class="col s8 offset-s2">
    <ul
      *ngIf="product !== null; else empty"
      class="collection with-header">
      <li class="collection-header"><h4 class="center">Паспорт изделия</h4></li>
      <li class="collection-item">
        <h6 class="blue-text">name</h6>
        {{product.name}}
      </li>
      <li class="collection-item">
        <h6 class="blue-text">client</h6>
        {{product.client}}
      </li>
      <li class="collection-item">
        <h6 class="blue-text">cost invoice</h6>
        {{product.cost_invoice}}
      </li>
      <li class="collection-item">
        <h6 class="blue-text">number invoice</h6>
        {{product.number_invoice}}
      </li>
    </ul>

    <ng-template #empty>
      <h2 class="center">Изделие не найдено</h2>
    </ng-template>
  </div>
</div>
