@import "~materialize-css/dist/css/materialize.min.css";
@import "theme/styles.min.css";
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
   @include ag-theme-alpine();
 }
button {
  cursor: pointer;
}
input.ag-text-field-input {
  height: 1em!important;
}
.sidenav {
  padding-bottom: 0;
}
