<h2 class="center-align">Контролер</h2>
<h4 class="center-align">QR сканер</h4>
<div class="row">
  <div class="col s6 offset-s3">
    <zxing-scanner
      [formats]="allowedFormats"
      (scanSuccess)="onCodeResult($event)"
    ></zxing-scanner>
  </div>
  <div class="col s6 offset-s3">
    <h4 class="center-align">результат</h4>
    <p>{{qrResultString}}</p>
  </div>
</div>

