<ag-grid-angular
  style="width: 100%; height: 500px;"
  class="ag-theme-alpine"
  [gridOptions]="gridService.gridOptions"
  (selectionChanged) = 'onSelectionChanged()'
>
</ag-grid-angular>

<app-modal>
  <div *ngIf="dataModal">
    <p>{{dataModal.client}}</p>
    <p>{{dataModal.code}}</p>
    <p>{{dataModal.cost_invoice}}</p>
    <p>{{dataModal.createdAT}}</p>
    <p>{{dataModal.date_invoice}}</p>
    <p>{{dataModal.id}}</p>
    <p>{{dataModal.name}}</p>
    <p>{{dataModal.number_invoice}}</p>
    <p>{{dataModal.username}}</p>
  </div>
</app-modal>
<p class="row">
  <button
    (click)="submitRecordLabel()"
    [disabled]="!isSelected"
    class="btn"
  >submit</button>
</p>

